.title {
    display: flex;
    margin-top: 2rem;
     justify-content: center;
}


.titleCaption {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 3rem;

}

.titleMarkerContainer {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.titleMarker {

    background-color: #db2531;
    height: 2px;
    width: 4.5rem;
    border: none;
    color: #db2531;
}

.testimonialsOverViewContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

.testimonialsOverViewContent {
    text-align: center;
    padding: 2rem;
}

.testimonialsOverViewTitle {
    font-size: 20px;
}

.serviceOverViewTitleContainer {
    margin-top: 12px;
    margin-bottom: 12px;
}


.testimonialsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



.testimonialCard {
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0px 17px 35px rgb(74 74 115 / 10%), 0px 5px 15px rgb(0 0 0 / 7%);

    border-radius: 2px;
    margin: 1rem 1rem 1rem 1rem;
}

.testimonialHeader {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
}

.clientName {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 1rem;
    font-weight: 600;
    color: #222;
}

.companyName {
    color: #999;
    font-size: 14px;
    margin-left: 1rem;
}

.testimonialDesc {
    font-size: 14px;
    color: #667;
    line-height: 1.75;
    margin-top: 1rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .testimonialCard {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .testimonialCard {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .testimonialsOverViewContent {
        width: 25%;
    }
    .testimonialCard {
        width: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .testimonialsOverViewContent {
        width: 20%;
    }
    .testimonialCard {
        width: 35%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .testimonialsOverViewContent {
        width: 20%;
    }
    .testimonialCard {
        width: 35%;
    }
}